<style>
	.card-link {
		color: blue;
	}
</style>
<!-- this is a sample default list template -->
<div class="card" style="width: 18rem;">
	<img src="..." class="card-img-top" alt="...">
	<div class="card-body">
	  <h5 class="card-title">{{doc.airplane}}</h5>
	  <p class="card-text">{{doc.source_airport_code}} -> {{doc.destination_airport_code}} </p>
	  <p>{{frappe.utils.format_date(doc.date_of_departure, "d MMMM, YYYY")}} | {{frappe.utils.format_time(doc.time_of_departure)}} | {{frappe.utils.format_duration(doc.duration)}}</p>
	  <a href="{{ doc.route }}" class="card-link">view Flight</a>
	</div>
</div>